@import "colors.css";

.main-content-area {
    -fx-background-color: -fx-background-light-color;
}

.h1 {
    -fx-text-fill: -fx-primary-color;
    -fx-alignment: CENTER;
}

.separator {
    -fx-max-width: 80%;
    -fx-background-color: -fx-border-color;
}

.grid-pane {
    -fx-padding: 20px;
    -fx-background-color: -fx-background-card-color;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 0);
}

.button-bar {
    -fx-padding: 10px 0 0 0;
}