.root {
    -white: white;
    -primary-color-500: #3498db;
    -primary-color-700: #2980b9;

    -secondary-color-500: #2C3E50;

    -background-light: #ECF0F1;
    -background-light-300: #ececf0;
    -background-dark: #34495E;

    -text-on-primary: #ECF0F1;

    -danger-color: #E74C3C;
    -danger-color-700: #C0392B;

    -success-color: #2ECC71;

    -border-color: #DDE1E6;
}